@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}
